* {
    margin: 0%;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

.banner {
    /* background-image: url(./images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
    width: 1902px;
    height: 935px;
}

.banner-moto {
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 1200px;
    top: 200px;
}

.banner-para {
    font-size: 20px;
    text-align: right;
    color: darkslategrey;
    position: absolute;
    width: 490px;
    left: 1230px;
    top: 525px;
}

.btn {
    color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1560px;
    top: 660px;
    background: #F15B22;
    border: 0px;
    border-radius: 5px;
    padding: 20px 25px;
}

/* 2nd page styles */

.failures {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 400px;
    top: 920px;
}

.heading {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 47px */
    position: absolute;
    width: 288px;
    height: 94px;
    left: 700px;
    top: 220px;
}

.paragraph {
    color: darkslategray;
    line-height: 20px;
    position: absolute;
    width: 416px;
    height: 104px;
    left: 700px;
    top: 280px;
}

.list {
    color: darkslategray;
    list-style: square;
    line-height: 30px;
    position: absolute;
    width: 349px;
    height: 26px;
    left: 676px;
    top: 380px;
}

/* main */

.section-title {
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    width: 179px;
    height: 47px;
    left: 860px;
    top: 2000px;
}

.skills-container {
    display: flex;
    gap: 100px;
    align-items: center;
    position: absolute;
    width: 1000px;
    height: 400px;
    left: 480px;
    top: 2000px;

}

.skill-title {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.gradient {
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 370px;
    top: 2220px;
    margin-top: 125px;
    border-radius: 8px;
    background-image: url('/images/watch.png');
    mix-blend-mode: overlay;
}

.img-txt {
    position: absolute;
    width: 459px;
    height: 94px;
    left: 460px;
    top: 2400px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.img-btn {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: whitesmoke;
    border: 0px;
    border-radius: 5px;
    padding: 20px 25px;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 88px;
    top: 190px;
}

/* future styles */

.future {
    display: flex;
    position: absolute;
    width: 485px;
    height: 317px;
    left: 230px;
    top: 2776.3px;
}
.future { background-color: black;
background-color: bisque;
position: absolute;
width: 1600px;
height: 577px;
left: 0px;
top: 2646.3px;

/* Dark 01 */

background: #151414;}
.future .section-title {
    position: absolute;
    width: 485px;
    height: 317px;
    left: 230px;
    top: 200px;
}

.future-txt {
    position: absolute;
    width: 485px;
    height: 317px;
    left: 230px;
    top:250px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.future-text {
    position: absolute;
    width: 485px;
    height: 317px;
    left: 230px;
    top:550px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.future-text2 {
    position: absolute;
    width: 485px;
    height: 317px;
    left: 230px;
    top:570px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}